<html>
    <head>

    </head>
    <body>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="submit" value="Sign up!">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <h3>Have an account?</h3>
        <h3><a href="{{url_for('login') }}">Log in Here</a></h3>
</body>

</html>